*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 50%;
}
header{
    background-color: rgb(255, 120, 67);
    width: 99%;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.div-1{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    
}
.div-2{
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
}
main{
    background-color: rgb(116, 116, 252);
    width: 450px;
    height: 450px;
}
nav{
    background-color: aqua;
    width:250px ;
    height: 20px;
}
aside{
    background-color: rgb(141, 243, 187);
    margin-top: 10px;
    height: 420px;
}
article{
  
 width: 95%;
 height: 80%;
 margin-left: 10px;
 background-color: green;
}
section{
    height: 28%;
    width: 95%;
    margin-left: 10px;
    background-color: greenyellow;
    margin-bottom: 10px;
}
.footer-main{
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: blueviolet;
    width: 95%;
}
.footer-final{
    background-color: rgb(255, 130, 228);
    width: 99%;
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
}